<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.dao.TbGoodsMapper">
    <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbGoods">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="seller_id" property="sellerId" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="default_item_id" property="defaultItemId" jdbcType="INTEGER"/>
        <result column="audit_status" property="auditStatus" jdbcType="VARCHAR"/>
        <result column="is_marketable" property="isMarketable" jdbcType="VARCHAR"/>
        <result column="brand_id" property="brandId" jdbcType="INTEGER"/>
        <result column="caption" property="caption" jdbcType="VARCHAR"/>
        <result column="category1_id" property="category1Id" jdbcType="INTEGER"/>
        <result column="category2_id" property="category2Id" jdbcType="INTEGER"/>
        <result column="category3_id" property="category3Id" jdbcType="INTEGER"/>
        <result column="small_pic" property="smallPic" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="type_template_id" property="typeTemplateId" jdbcType="INTEGER"/>
        <result column="is_enable_spec" property="isEnableSpec" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, seller_id, goods_name, default_item_id, audit_status, is_marketable, brand_id,
        caption, category1_id, category2_id, category3_id, small_pic, price, type_template_id,
        is_enable_spec, is_delete
  </sql>
    <select id="search" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from tb_goods
        <where>
            <if test="goodsName != null">
                and goods_name like concat('%',#{goodsName},'%')
            </if>
            <if test="auditStatus != null">
                and audit_status = #{auditStatus}
            </if>
        </where>
    </select>
    <insert id="add" parameterType="com.pinyougou.pojo.TbGoods" keyProperty="id" useGeneratedKeys="true">
        insert into tb_goods
        (seller_id, goods_name, default_item_id, audit_status, is_marketable, brand_id,
        caption, category1_id, category2_id, category3_id, small_pic, price, type_template_id,
        is_enable_spec, is_delete)
        values
        (#{sellerId,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR},
          #{defaultItemId,jdbcType=INTEGER}, #{auditStatus,jdbcType=VARCHAR}, #{isMarketable,jdbcType=VARCHAR},
          #{brandId,jdbcType=INTEGER}, #{caption,jdbcType=VARCHAR}, #{category1Id,jdbcType=INTEGER},
          #{category2Id,jdbcType=INTEGER}, #{category3Id,jdbcType=INTEGER}, #{smallPic,jdbcType=VARCHAR},
          #{price,jdbcType=DECIMAL}, #{typeTemplateId,jdbcType=INTEGER}, #{isEnableSpec,jdbcType=VARCHAR},
          #{isDelete,jdbcType=VARCHAR})
    </insert>
    <select id="findOne" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from tb_goods
        where id = #{id}
    </select>
    <delete id="delete">
        delete from tb_goods
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>