<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.dao.TbSellerMapper">
    <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbSeller">
        <id column="seller_id" property="sellerId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="address_detail" property="addressDetail" jdbcType="VARCHAR"/>
        <result column="linkman_name" property="linkmanName" jdbcType="VARCHAR"/>
        <result column="linkman_qq" property="linkmanQq" jdbcType="VARCHAR"/>
        <result column="linkman_mobile" property="linkmanMobile" jdbcType="VARCHAR"/>
        <result column="linkman_email" property="linkmanEmail" jdbcType="VARCHAR"/>
        <result column="license_number" property="licenseNumber" jdbcType="VARCHAR"/>
        <result column="tax_number" property="taxNumber" jdbcType="VARCHAR"/>
        <result column="org_number" property="orgNumber" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="INTEGER"/>
        <result column="logo_pic" property="logoPic" jdbcType="VARCHAR"/>
        <result column="brief" property="brief" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="legal_person" property="legalPerson" jdbcType="VARCHAR"/>
        <result column="legal_person_card_id" property="legalPersonCardId" jdbcType="VARCHAR"/>
        <result column="bank_user" property="bankUser" jdbcType="VARCHAR"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    seller_id, name, nick_name, password, email, mobile, telephone, status, address_detail,
    linkman_name, linkman_qq, linkman_mobile, linkman_email, license_number, tax_number,
    org_number, address, logo_pic, brief, create_time, legal_person, legal_person_card_id,
    bank_user, bank_name
  </sql>
    <insert id="add" parameterType="com.pinyougou.vo.SellerVO">
        insert into tb_seller
        (seller_id, name, nick_name, password, email, mobile, telephone, status, address_detail,
        linkman_name, linkman_qq, linkman_mobile, linkman_email, license_number, tax_number,
        org_number, address, logo_pic, brief, create_time, legal_person, legal_person_card_id,
        bank_user, bank_name)
        values
        (#{sellerId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},
          #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
          #{telephone,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{addressDetail,jdbcType=VARCHAR},
          #{linkmanName,jdbcType=VARCHAR}, #{linkmanQq,jdbcType=VARCHAR}, #{linkmanMobile,jdbcType=VARCHAR},
          #{linkmanEmail,jdbcType=VARCHAR}, #{licenseNumber,jdbcType=VARCHAR}, #{taxNumber,jdbcType=VARCHAR},
          #{orgNumber,jdbcType=VARCHAR}, #{address,jdbcType=BIGINT}, #{logoPic,jdbcType=VARCHAR},
          #{brief,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{legalPerson,jdbcType=VARCHAR},
          #{legalPersonCardId,jdbcType=VARCHAR}, #{bankUser,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR})
    </insert>
</mapper>