<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.dao.TbSpecificationMapper">
    <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbSpecification">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="spec_name" property="specName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, spec_name
  </sql>
    <select id="search" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from tb_specification
        <where>
            <if test="specName != null">
                and spec_name like concat('%',#{specName},'%')
            </if>
        </where>
    </select>
    <insert id="add" parameterType="com.pinyougou.pojo.TbSpecification" useGeneratedKeys="true" keyProperty="id">
       insert into tb_specification(spec_name) values (#{specName,jdbcType=VARCHAR})
    </insert>
    <delete id="delete">
        delete from tb_specification
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <select id="findOne" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from tb_specification
        where id = #{id}
    </select>
    <update id="update" parameterType="com.pinyougou.pojo.TbSpecification">
        update tb_specification set spec_name = #{specName}
        where id = #{id}
    </update>
</mapper>